<%
  page_title       "Schedule"
  page_description "Viewing schedule for <em>#{@year}</em>"
  page_description_links @years.reverse.map{|y| link_to_unless((y.to_s == @year.to_s),y, admin_schedule_events_by_year_path(:year => y))}.join(link_separator)
%>

<% content_for(:sidebar) do %>
  <h2>
    Add event
  </h2>
  <p>
    <%= link_to "Add new event", new_admin_schedule_event_path %>
  </p>
<% end %>

<% if @schedule_events.length > 0 %>
  <table class="list schedule_events_list">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <% if PagesSchedule.config(:use_ends_at) %>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Duration</th>
      <% else %>
        <th>Time</th>
      <% end %>
      <th>Published</th>
      <th></th>
    </tr>
    <% @schedule_events.each do |e| %>
      <tr>
        <td>
          <strong><%= link_to e.name, admin_schedule_event_path(e) %></strong>
        </td>
        <td>
          <%= e.location %>
        </td>
        <% if PagesSchedule.config(:use_ends_at) %>
          <td>
            <%= l(e.starts_at, format: :short) %>
          </td>
          <td>
            <%= l(e.ends_at, format: :short) %>
          </td>
          <td>
            <%= (e.duration?) ? distance_of_time_in_words(e.ends_at, e.starts_at) : "-" %>
          </td>
        <% else %>
          <td>
            <%= l(e.starts_at, format: :short) %>
          </td>
        <% end %>
        <td>
          <%= check_box_tag "schedule_event-published-#{e.id}", '1', e.published?, :disabled => true %>
        </td>
        <td>
          <%= link_to("Delete",
                      admin_schedule_event_path(e),
                      :method => :delete,
                      :class => 'delete',
                      'data-confirm' => 'Are you sure? There is no undo.') %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="content">
    <p>No entries for <%= @year %> have been added yet.</p>
  </div>
<% end %>
